# Task 1

In [3]:
# Task1.a
rollno =10
print(rollno)
print(type(rollno))

10
<class 'int'>

In [83]:
# Task1.b
firstname ="Reema"
print(firstname)
print(type(firstname))

Reema
<class 'str'>

In [85]:
# Task1.c
lastname ="Joseph"
print(lastname)
print(type(lastname))

Joseph
<class 'str'>

In [10]:
# Task1.d
maxmarks = 50
print(maxmarks)
print(type(maxmarks))

50
<class 'int'>

# Task 2

In [13]:
var1 = 2

In [29]:
2var = 2

SyntaxError: invalid decimal literal (2593071960.py, line 1)

In [31]:
var 1 = 2

SyntaxError: invalid syntax (1069141224.py, line 1)

In [33]:
var$2 = 2

SyntaxError: invalid syntax (2085239645.py, line 1)

# observation 
only first one is following valid/allowed variable format. Rest all are invalid.

# Task3

In [37]:
Class=15

In [41]:
class = 15

SyntaxError: invalid syntax (1850406401.py, line 1)

In [43]:
DEF = 13

In [45]:
def = 12

SyntaxError: invalid syntax (2149395452.py, line 1)

In [47]:
a=TRUE

NameError: name 'TRUE' is not defined

In [49]:
b =false

NameError: name 'false' is not defined

# observation 
Class=15  - valid assignment
class = 15 -  class ia a keyword not allowed to use as a var name
a=TRUE - TRUE is not valid value for bool True is expected
b =false  - false is not valid value for bool False is expected

# Task 4

In [56]:
#task4.a
marks =30.2
print(marks)
print(id(marks))
print(type(marks))

30.2
2326546502864
<class 'float'>

In [64]:
#task4.b
marks =50.9
print(marks)
print(id(marks))
print(type(marks))

50.9
2326546502864
<class 'float'>

# observation
id changed when the assigned value changed. Because the id will be assigned based on the value. Variables with equal value will have same id in python

# Task 5

In [75]:
# Task5.a
maxmarks =100

print(marks/maxmarks*100)

50.9

In [87]:
# Task5.b
fullname  = firstname +" "+ lastname
print(fullname)

Reema Joseph

In [95]:
# Task5.c
per = str(marks/maxmarks*100)
print(fullname + " scored " + per+"%")

Reema Joseph scored 50.9%

# Task 6

In [98]:
#task6.a
1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [102]:
"1"+"2"

'12'

In [104]:
1/2

0.5

In [106]:
1//2

0

# observation :  
we cannot add an integer/float with a non-numerical data type. But + opertaor work as a concatination if all variables are String.

# Task 7

In [111]:
True and True

True

In [115]:
True and  False

False

In [121]:
False or True

True

In [119]:
False or True

True

# explanation
and - operator returns True when all conditions are true. Returns False if at lease one confition is false
or  - operator returns True when atleast one condition is True. Returns false when all conditions are false

# Task 8

In [131]:
print (firstname in fullname)

True

In [133]:
print (firstname is fullname)

False

# Task 9

In [153]:
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)

print(d)
print(e)

66
1024

# values are different because of  Python Operators Precedence Rule - PEMDAS